<article>
    <h2>User Details</h2>
    <p>Username: {{user.username}}</p>
    <p>First Name: {{user.firstName}}</p>
    <p>Last Name: {{user.lastName}}</p>
    <p>Profession: {{user.profession}}</p>
    <p>Bio: {{user.bio}}</p>

<a href="/logout">Click here to logout.</a>
</article>
